* {
  font-family: "Lato", sans-serif;
  margin: 0;
  box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

a {
  text-decoration: none;
  position: relative;
}

li {
  list-style: none;
}


/* NAVIGATION BAR */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.row nav__row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.nav__link--list {
  display: flex;
}