@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", system-ui;
  color: #243e63;
}

h1 {
  font-size: 48px;
  color: #1a202c;
  line-height: 1.25;
}

h2 {
  font-size: 48px;
  color: #243e63;
  line-height: 1.25;
}

a {
  text-decoration: none;
}

p {
  font-size: 18px;
  line-height: 1.5;
}

img {
  width: 100%;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}

button {
  cursor: pointer;
  border: medium;
}

.text__purple {
  color: #6415ff;
}

.section__tag {
  color: #6415ff;
  font-size: 16px;
  letter-spacing: 1.6px;
  font-weight: 700;
  text-transform: uppercase;
}

.section__title {
  font-size: 48px;
  font-weight: 900;
  color: #243e63;
  line-height: 1.5;
  margin: 16px 0;
  letter-spacing: 0.025em;
}

.section__para {
  font-size: 18px;
  font-weight: 500;
  color: #7c8ba1;
  line-height: 1.625;
}

.row {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.row__narrow {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}

.container {
  padding: 96px 32px;
}

/* NAV BAR */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 12px;
}

.nav__logo--picture {
  height: 40px;
  width: 40px;
}

.nav__logo--name {
  font-size: 24px;
  font-weight: 900;
  letter-spacing: 0.6px;
  margin-left: 12px;
  padding-bottom: 2px;
}

.nav__row {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  display: flex;
  align-items: center;
  margin: 8px 0;
  padding-bottom: 4px;
}

.nav__links {
  display: flex;
  align-items: center;
  list-style: none;
}

.nav__link {
  color: #1a202c;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.5;
  margin-right: 15px;
  padding-bottom: 4px;
  border-bottom: 2px solid transparent;
}

.nav__link--primary {
  color: #fff;
  margin: 0;
  margin-top: 2px;
  padding: 10px 30px;
  background: #6415ff;
  border-radius: 9999px;
  line-height: 1.5;
  border: none;
  width: auto;
  transition: all 300ms ease;
}

.nav__link--primary:hover {
  background-color: #5d3eff;
}

/* HEADER / ABOUT US */

header .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__description {
  width: 40%;
}

.header__description--para {
  margin: 32px 0;
}

.header__img--wrapper {
  width: 60%;
}

.header__email {
  width: 100%;
  max-width: 448px;
  height: 68px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__email--input {
  width: 100%;
  border-radius: 500px;
  border: 2px solid #e5e7eb;
  padding: 20px 192px 20px 32px;
  color: #243e63;
  font-size: 16px;
  font-weight: 500;
  position: absolute;
  z-index: 1;
  transition: border-color 300ms;
}

.header__email--input:hover {
  border-color: #243e63;
}

.header__email--btn {
  margin-left: 260px;
  height: 50px;
  width: 160px;
  z-index: 2;
  border-radius: 500px;
  border: none;
  background-color: #6415ff;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  transition: all 300ms ease;
}

.header__email--btn:hover {
  background-color: #5d3eff;
}

.header__customers--title {
  margin-top: 80px;
  color: #a0aec0;
  font-size: 12px;
  font-weight: 700;
}

.header__customers {
  margin-top: 16px;
  padding-right: 128px;
  opacity: 0.5;
}

.header__img {
  max-width: 650px;
  margin-left: 80px;
}

/* Features */

.features {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
}

.feature {
  width: calc(100% / 3);
}

#features .row__narrow {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feature__row {
  display: flex;
  align-items: flex-start;
  padding: 32px 24px;
}

.feature__img--wrapper {
  display: flex;
  padding: 20px;
  border: 1px solid #e5e7eb;
  border-radius: 500px;
}

.feature__img {
  width: 24px;
  height: 24px;
}

.feature__text {
  margin-top: 8px;
  margin-left: 16px;
}

.feature__para {
  margin-top: 16px;
  font-size: 16px;
  max-width: calc(634px / 3);
  color: #7c8ba1;
  line-height: 2;
  font-weight: 500;
}

#features .section__title {
  text-align: center;
}

/* Quality Work */

#quality .section__title,
#values .section__title {
  line-height: 1.25;
}

#quality .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.quality__description,
.quality__img--wrapper {
  width: 50%;
}

.quality__img--wrapper {
  display: flex;
  position: relative;
  z-index: 2;
  border-radius: 4px;
  border: 1px solid #e5e7eb;
}

.quality__description {
  max-width: 576px;
}

#quality .btn {
  margin-top: 32px;
}

.btn {
  padding: 12px 32px;
  border: none;
  border-radius: 500px;
  background-color: #6415ff;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  transition: all 300ms ease;
  cursor: pointer;
}

.btn:hover {
  background-color: #5d3eff;
}

/* Steps */

#steps .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.steps__description,
.steps__img--wrapper {
  width: 50%;
}

.steps__img--wrapper {
  display: flex;
  position: relative;
}

.steps__description {
  padding: 32px 0;
  padding-left: 64px;
}

.step {
  display: flex;
  align-items: flex-start;
  margin-bottom: 32px;
}

.step__number {
  line-height: 1;
  font-weight: 600;
  font-size: 36px;
  color: #cbd5e0;
}

.step__description {
  display: flex;
  flex-direction: column;
  margin-left: 24px;
  max-width: 320px;
}

.step__title {
  font-size: 20px;
  font-weight: 600;
  color: #243e63;
  line-height: 1;
}

.step__para {
  font-size: 14px;
  color: #718096;
  margin-top: 12px;
  font-weight: 500;
  line-height: 2;
}

/* Values */

#values .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.value {
  margin-top: 2rem;
  margin-right: 2rem;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.values__description,
.values__img {
  width: 50%;
}

.values__description {
  padding: 32px 64px 32px 0;
}

#values .section__title {
  margin-top: 16px;
  margin-bottom: 32px;
}

.value__title {
  display: flex;
  align-items: center;
}

.value:nth-child(1) .value__img--wrapper {
  background-color: #9ae6b4;
}

.value:nth-child(2) .value__img--wrapper {
  background-color: #feb2b2;
}

.value__img--wrapper {
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
}

.value__name {
  font-size: 20px;
  font-weight: bold;
  margin-left: 12px;
  color: #243e63;
}

.value__para {
  margin-top: 16px;
  color: #718096;
  line-height: 1.625;
}

#values .btn {
  margin-top: 48px;
}

.value__img {
  width: 20px;
  height: 20px;
  opacity: 0.5;
}

.values__list {
  margin-left: 0px;
  margin-right: 0px;
  display: flex;
}

/* Pricing */

#pricing .row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#pricing .section__title {
  text-align: center;
}

#pricing .section__para {
  text-align: center;
  max-width: 576px;
}

.plans {
  display: flex;
  justify-content: space-between;
  position: relative;
  flex-direction: row;
  width: 100%;
}

.plan {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 24rem;
  margin-top: 4rem;
  border-radius: 0.5rem;
  background-color: rgb(255, 255, 255);
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 0.5rem;
  text-align: center;
  color: rgb(26, 32, 44);
  box-shadow:
    rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.plan:nth-child(1) .plan__stripe,
.plan:nth-child(1) .plan__button {
  color: #f7fafc;
  background: linear-gradient(
    115deg,
    rgb(56, 178, 172) 0%,
    rgb(129, 230, 217) 100%
  );
}

.plan__stripe {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 0.5rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.plan__button {
  font-weight: 700;
  border-radius: 9999px;
  padding: 0.75rem 2rem;
  color: rgb(247, 250, 252);
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  transition: all 300ms ease;
}

.plan__button:hover {
  transform: translate(2px, -2px);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
}

.plan__top {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  line-height: 1.625;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.plan__name,
.plan__price,
.plan__duration {
  font-weight: bold;
  line-height: 1.625;
}

.plan__name {
  font-size: 20px;
}

.plan__price {
  font-size: 48px;
  margin: 4px 0;
}

.plan:nth-child(odd) .plan__name,
.plan:nth-child(odd) .plan__price,
.plan:nth-child(odd) .plan__target {
  color: #1a202c;
}

.plan__duration {
  font-size: 16px;
  letter-spacing: 0.1em;
}

.plan:nth-child(odd) .plan__duration {
  color: #a0aec0;
}

.plan__middle {
  flex: 1 1 0%;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  margin-left: -2rem;
  margin-right: -2rem;
}

.plan:nth-child(1) .plan__middle,
.plan:nth-child(3) .plan__middle {
  border-top: 2px solid #e5e7eb;
  border-bottom: 2px solid #e5e7eb;
}

.plan__target {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.025em;
}

.plan__feature {
  line-height: 1.5;
  font-size: 16px;
  font-weight: 500;
  margin-top: 20px;
  color: #718096;
}

.plan__bottom {
  padding-left: 4rem;
  padding-right: 4rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.plan:nth-child(2) .plan__name,
.plan:nth-child(2) .plan__price,
.plan:nth-child(2) .plan__target,
.plan:nth-child(2) .plan__duration,
.plan:nth-child(2) .plan__feature {
  color: #f7fafc;
}

.plan:nth-child(2) {
  background: linear-gradient(
    135deg,
    rgb(76, 81, 191) 0%,
    rgb(102, 126, 234) 100%
  );
}

.plan:nth-child(2) .plan__middle {
  border-top: 2px solid rgb(102, 126, 234);
  border-bottom: 2px solid rgb(102, 126, 234);
}

.plan:nth-child(2) .plan__button {
  color: #6415ff;
  background-color: #f7fafc;
}

.plan:nth-child(3) .plan__stripe,
.plan:nth-child(3) .plan__button {
  color: #f7fafc;
  background: linear-gradient(
    115deg,
    rgb(245, 101, 101) 0%,
    rgb(254, 178, 178) 100%
  );
}

.plans__blob {
  z-index: -10;
  position: absolute;
  left: 0px;
  bottom: 0px;
  transform: translateY(50%) translateX(-50%) scaleX(1) scaleY(1);
  height: 256px;
  width: 256px;
  opacity: 0.25;
}

/* Testimonials */

#testimonials .container {
  padding-top: 96px;
  padding-bottom: 96px;
}

#testimonials .row {
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.testimonials__img,
.testimonials__ description {
  width: 50%;
}

.testimonials__description {
  display: flex;
  flex-direction: column;
  padding-left: 64px;
}

.testimonial__img {
  margin-top: 20px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}

#testimonials .section__title {
  margin-bottom: 24px;
  line-height: 1.25;
}

.testimonial {
  margin-top: 40px;
}

.testimonial__title {
  font-weight: 700;
  font-size: 20px;
  margin-top: 16px;
  line-height: 1.625;
  color: #4a5568;
}

.testimonial__rating {
  margin-right: 2px;
  margin-top: 4px;
}

.testimonial__para {
  margin-top: 16px;
  margin-bottom: 32px;
  font-weight: 500;
  line-height: 1.625;
  font-size: 16px;
  color: #4a5568;
}

.testimonial__bottom {
  display: flex;
  justify-content: space-between;
}

.testimonial__button:hover {
  background-color: #e5e7eb;
}

.divider {
  margin-top: 12px;
  margin-bottom: 12px;
  border-right-width: 1px;
  width: 0.5px;
  height: 20px;
  background: #edf2f7;
}

.testimonial__profile {
  display: flex;
  align-items: center;
}

.testimonial__details {
  margin-left: 24px;
}

.testimonial__name {
  font-weight: 700;
  line-height: 1.625;
  color: #4a5568;
  font-size: 20px;
}

.testimonial__role {
  font-weight: 500;
  line-height: 1.5;
  color: #7c8ba1;
}

.testimonial__buttons {
  display: flex;
  align-items: center;
}

.testimonial__button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  background: rgb(237, 242, 247);
  border-radius: 50%;
  margin: 0px 12px;
  transition: 300ms;
}

/* Start */

#start .row {
  position: relative;
  overflow: hidden;
}

.start__container {
  padding: 96px 0px;
  width: 100%;
  background: rgb(100, 21, 255);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.start__row {
  width: 100%;
  margin: 0px auto;
  max-width: 1024px;
  padding: 0px 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.start__title,
.start__buttons {
  width: 50%;
}

.start__title {
  color: #f7fafc;
  font-size: 30px;
  font-weight: 700;
  line-height: 1.5;
  z-index: 2;
}

.start__buttons {
  display: flex;
  justify-content: flex-end;
}

.start__button {
  padding: 20px 40px;
  border-radius: 500px;
  font-weight: 700;
  font-size: 16px;
  color: #f7fafc;
  line-height: 1.5;
  margin: 1px;
  z-index: 2;
}

.start__button:nth-child(1) {
  background: #f56565;
  box-shadow:
    rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.5) 0px 4px 6px -2px;
  margin-right: 32px;
  transition: 300ms;
}

.start__button:nth-child(1):hover {
  background-color: #de495d;
}

.start__button:nth-child(2) {
  border: 1px solid rgb(160, 174, 192);
  transition: 300ms;
}

.start__button:nth-child(2):hover {
  background-color: #fff;
  color: rgb(100, 21, 255);
}

.start__blob--1 {
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 320px;
  width: 320px;
  transform: translate(-80px, 128px);
  color: #6415ff;
  opacity: 0.5;
}

.start__blob--2 {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 320px;
  width: 320px;
  transform: translate(80px, -256px);
  color: #6415ff;
  opacity: 0.5;
}

/* Footer */

footer {
  padding: 96px 32px;
  background-color: #6415ff;
  margin-bottom: -32px;
  position: relative;
  overflow: hidden;
}

.footer__blob--2 {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 320px;
  height: 320px;
  transform: translateX(128px) translateY(192px);
  z-index: 1;
  opacity: 0.5;
}

.footer__columns {
  margin-top: -48px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer__column {
  margin-top: 48px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 2;
}

.footer__column--title {
  font-weight: 700;
  line-height: 1.5;
  color: #e5e7eb;
}

.footer__column--link {
  color: #e5e7eb;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 500;
  position: relative;
  cursor: pointer;
  margin-top: 12px;
}

.footer__divider {
  width: 100%;
  height: 2px;
  margin: 64px 0px;
  background: #5d3eff;
}

.footer__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__logo {
  display: flex;
  align-items: center;
}

.footer__logo--img {
  height: 32px;
  width: 32px;
}

.footer__logo--text {
  font-size: 20px;
  color: #e5e7eb;
  font-weight: 900;
  margin-left: 8px;
  letter-spacing: 0.05rem;
}

.footer__copyright {
  color: rgb(203, 213, 224);
  font-weight: 500;
}

.footer__socials {
  display: flex;
  align-items: center;
  margin-left: -16px;
}

.footer__social--link {
  margin-left: 16px;
  padding: 8px;
  background: rgb(247, 250, 252);
  display: flex;
  justify-content: center;
  border-radius: 50%;
  z-index: 2;
  cursor: pointer;
}

.footer__social--link-1 {
  margin-left: 16px;
  width: 35px;
  padding: 8px;
  background: rgb(247, 250, 252);
  display: flex;
  justify-content: center;
  border-radius: 50%;
  z-index: 2;
  cursor: pointer;
}

@media (max-width: 768px) {
  .nav__links {
    display: none;
  }

  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 24px;
  }

  .header__description--para {
    font-size: 16px;
  }

  .header__email {
    max-width: 300px;
  }

  .header__email--input {
    position: relative;
  }

  .header__email--btn {
    position: absolute;
    height: 40px;
    max-width: 100px;
    font-size: 10px;
    margin-right: 110px;
  }

  .header__img--wrapper {
    scale: 85%;
    margin-right: 50px;
  }

  .section__title {
    font-size: 26px;
  }

  .section__para {
    font-size: 16px;
  }

  .features {
    max-width: 768px;
    margin-right: 75px;
  }

  .feature__title {
    font-size: 24px;
  }

  .feature__para {
    font-size: 14px;
    text-align: center;
  }

  .feature__img--wrapper {
    scale: 70%;
  }

  .quality__img--wrapper {
    scale: 90%;
  }

  .values__list {
    flex-direction: column;
  }

  .value__title {
    font-size: 18px;
  }

  .value__para {
    font-size: 14px;
  }

  .values__img {
    margin-right: 50px;
  }

  .plans {
    scale: 75%;
    margin-right: 140px;
  }

  .testimonials__description {
    scale: 80%;
  }

  .start__title {
    font-size: 22px;
    text-align: center;
  }

  .start__buttons {
    scale: 70%;
  }
}

@media (max-width: 480px) {
  .header__email {
    scale: 90%;
  }

  .header__email--btn {
    max-width: 70px;
  }

  .header__customers--title,
  .header__customers {
    display: none;
  }

  .feature__title {
    font-size: 18px;
  }

  .feature__title {
    font-size: 16px;
  }

  .feature__para {
    font-size: 14px;
  }
}
